.e404-bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.e404-inner {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.e404-title-div {
  grid-column: 1;
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  row-gap: 50px;
  margin-inline: auto;
}

.e404-img {
  grid-row: 1;
  justify-self: center;
  text-decoration: none;
}

.e404-img img {
  width: 250px;
  height: auto;
}

.e404-title {
  grid-row: 2;
  justify-self: center;
  font-size: 8em;
  font-family: var(--main-font-black);
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.e404-description-div {
  grid-column: 2;
  cursor: default;
  padding-block: 40px;
  padding-inline: 40px;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  background-color: var(--light-grey-bg);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e404-description-div-inner {
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  row-gap: 40px;
  text-align: center;
}

.e404-description-top {
  font-family: var(--main-font-black);
  color: var(--text-grey-light);
  font-size: 5em;
}

.e404-description-middle {
  font-family: var(--main-font-medium);
  color: var(--medium-blue);
  font-size: 1.5em;
}

.e404-description-bottom {
  font-family: var(--main-font);
  color: var(--text-grey);
  font-size: 1em;
}

.e404-description-button {
  width: fit-content;
  display: block;
  align-self: center;
}