/*
Splits the content into two columns:
- the left column contains the article
- the right column contains the table of contents
 */
.article-container {
  display: grid;
  grid-template-columns: 100% 0;
  grid-template-rows: auto auto;
  /*padding-left: 2em;*/
}

/*
The sidebar for the table of contents
 */
aside {
  margin-top: 1.6em; /* paragraph alignment = margin-top + line-height */
  grid-column: 2;
  grid-row: 2;
  position: sticky;
  top: calc(50px + 1em); /* The top spacing should look as large as the left spacing. */
  right: 0;
  display: block;
  height: calc(75vh - 66px);
  height: fit-content; /* we might not even need 75vh if there are only a few headings */
  min-height: 200px;
  max-height: 100vh;
  max-height: min(calc(75vh - 66px), 100vh);
  max-height: calc(75vh - 66px);
  width: 22vw;
  min-width: 275px;
  max-width: max-content;
}

.minimap-container {
  display: block;
  display: none;
  width: calc(100% - 1.5em);
  height: calc(15vh + 66px - 1em - 2em);
  margin-block: 1em;
  margin-inline: 0.75em;
  overflow-y: scroll;
}

.minimap {
  display: block;
  width: 100%;
  height: auto;
  background: white -moz-element(#article) no-repeat scroll center center / contain;
}

/*
A variant of the ToC that is collapsed by default
 */
.toc-default-closed {
  display: none;
}

/*
The ToC container
 */
.toc {
  margin-inline: 0.75em;
  padding-block: 0;
  background-color: var(--light-grey-bg);
  border-radius: 0.5em;
  height: auto;
  overflow-y: scroll;
}

.toc[open] {
  height: fit-content;
  max-height: inherit;
  border-bottom-color: var(--light-grey-bg-bg-hover-none);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.toc[open] summary {
  box-shadow: 0 20px 20px -18px var(--text-grey-light-2);
  border-bottom-color: var(--light-grey-bg-bg-hover);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.toc[open] nav {
  animation: toc-open .25s ease-in-out;
}

/* Fades the table of contents in */
@keyframes toc-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**
Hide the default icon for each ToC entry
 */
.toc::marker {
  display: none;
}

.toc summary::-webkit-details-marker {
  display:none;
}

/*
The ToC title
 */
.toc summary {
  position: sticky;
  top: 0;
  cursor: pointer;
  color: var(--text-grey);
  font-family: var(--article-font-bold);
  transition: var(--hover-transition);
  background-color: var(--light-grey-bg-bg);
  padding-inline: 0.75em;
  padding-block: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.toc summary:hover {
  color: var(--text-dark);
  transition: var(--hover-transition);
}

.toc nav {
  padding-inline: 0em;
}

.toc nav ul {
  padding-inline: 0.75em;
  padding-block: 0;
  margin-block: 0;
}

.toc nav ul li {
  list-style-type: none;
  margin-block: 0;
  padding-block: 0;
  display: grid;
  grid-template-columns: 1em auto;
  grid-column-gap: 0.4em;
}

/*
Chevron icon before each ToC entry
 */
.toc nav ul li::before {
  grid-column: 1;
  padding-top: 0.8em; /* same value as padding-block of each ToC entry */
  padding-top: .84em; /* looks better */
  color: var(--chevron-grey);
  content: "\f138";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 0.9;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  transition: var(--hover-transition);
}

.toc nav ul li:hover::before {
  color: var(--chevron-grey-hover);
  transition: var(--hover-transition);
}

.toc nav ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.toc nav ul li ul {
  padding-left: 1.5em;
  padding-right: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

/*
aside nav ul li::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--light-grey-bg-border);
  position: relative;
  top: calc(-0.5px);
}


aside nav ul li:first-child::before {
  display: none;
}
*/

.toc nav ul li a {
  display: inline-block;
  padding-block: 0.8em; /* same value as padding-top of each chevron icon */
  grid-column: 2;
  font-family: var(--main-font);
  font-size: 0.9em;
  text-decoration: none;
  color: var(--text-grey);
  transition: var(--hover-transition);
  border-top-color: var(--light-grey-bg-border);
  border-top-style: dotted;
  border-top-width: 1px;
}

.toc nav > ul > li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
}

.toc nav ul li a:hover {
  color: var(--text-dark);
  transition: var(--hover-transition);
}

.toc nav::after {
  display: block;
  width: 100%;
  height: 25px;
  content: "";
  background: linear-gradient(0deg, var(--light-grey-bg) 0%, rgba(255,255,255,0) 100%);
  position: sticky;
  bottom: 0;
  z-index: 2;
}

article,
.article-top {
  grid-row: 2;
  grid-column: 1;
  max-width: min(600px, 85vw);
  position: relative;
  /* left: 50%;
  transform: translate(-50%, 0); /* this prevented the image article zoom container from having `position: fixed` */
  margin-inline: auto;
  text-align: left;
  font-size: 1.2rem;
  font-family: var(--article-font);
  line-height: 1.6;
  color: var(--text-dark);
}

.article-top {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 2em;
  padding-top: 0;
  z-index: 1;
  margin-bottom: 2em;
}

.article-author-img {
  display: block;
  display: none;
  margin-inline: auto;
  width: 40px;
  height: auto;
  padding: 10px;
  background-color: var(--light-grey-bg);
  border-radius: 100vw;
}

.article-description {
  font-family: var(--main-font);
  text-align: center;
  text-align: left;
}

.article-meta {
  display: block;
  width: fit-content;
  margin-inline: auto;
  /*margin-bottom: 2em;*/
  text-align: center;
  background-color: var(--light-grey-bg);
  background-color: transparent;
  color: var(--text-grey);
  font-family: var(--main-font);
  font-size: 0.7em;
  border-radius: 0.4em;
  padding-inline: 1.5em;
  padding-block: 0.8em;
}

.article-top .article-meta {
  padding-inline: 0;
}

svg.calendar {
  height: 4.25em;
  width: auto;
}

.article-meta-link {
  font-family: var(--main-font-bold);
  color: var(--link-blue);
  text-decoration: none;
}

.article-meta-link:hover {
  text-decoration: none;
}

.article-meta-author-link-img {
  width: 25px;
  height: auto;
}

.article-meta-author-link-text {
  font-style: normal;
}

.article-img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid var(--light-grey-border);
  border-radius: 0.4em;
  cursor: default;
  margin-top: 1em;
  /*
  taken from blog.joinmastodon.org
  box-shadow:
          rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.1) 0px 4px 6px -4px
   */
}

article p,
article > ul {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.headline {
  font-family: var(--article-font-bold);
  margin-top: calc(-1 * 50px - 0.2em); /* header + 0.2em spacing */
  padding-top: calc(50px + 0.2em);
  display: flex;
}

.headline::before {
  /* Font Awesome stuff */
  content: '\23';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  transform: translate(-31px,0); /* width = 21 + margin = 10px = translate(-31px); */
  transform: translate(-28px,0);
  background: transparent;
  -webkit-background-clip: revert;
  color: var(--link-blue-anchor);
  -webkit-text-fill-color: var(--link-blue-anchor);
  opacity: 0;
  transition: var(--hover-transition);
}

h1::before {
  font-size: 0.8em;
  line-height: 2.1em;
  font-size: 1.5rem;
  line-height: 2.25em;
}

.headline-top::before {
  display: none;
}

.headline-anchor {
  display: none;
  visibility: hidden;
  color: var(--anchor-grey);
  /* revert brand gradient of overall headline */
  -webkit-text-fill-color: var(--anchor-grey);
}

.headline:hover::before {
  opacity: 1;
  text-decoration: none;
}

.headline-top {
  margin-top: 1em;
  padding-top: 0;
  line-height: 1.2;
  display: block;
  margin-inline: auto;
  text-align: center;
  text-align: left;
  width: fit-content;
  margin-bottom: 0.5em;
  /*margin-top: revert;
  padding-top: revert;*/
}

.headline-section-wrapper {
  margin-top: 2.5em;
  margin-bottom: 3em;
  margin-inline: auto;
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5em;
}

.headline-section {
  -webkit-text-fill-color: revert;
  color: var(--light-text);
  background: var(--brand-gradient);
  padding-inline: 2em;
  padding-block: 0.5em;
  border-radius: 100px;
  cursor: default;
  margin-block: 0;
  margin-inline: unset;
}

.subheadline-section {
  font-family: var(--decorative-font);
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: var(--text-grey);
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
}

.headline-text {
  text-decoration: none !important;
  word-break: break-word;
  color: var(--dark-text);
}

h1 {
  font-size: 2.2rem;
}

h1 .headline-text {
  font-size: 2rem;
}

h1,
h1 .headline-text {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h2 .headline-text {
  color: var(--medium-blue) !important;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--title-font);
  margin-bottom: 0.4em;
  margin-top: 1em;
  text-align: left;
  line-height: 1.4;
}

article a {
  /**text-decoration: none;**/
  text-underline-offset: 6px;
  text-decoration-color: var(--link-blue-underline);
  color: var(--link-blue);
  hyphens: none;
  transition: var(--hover-transition);
}

article a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-blue-underline-hover);
  transition: var(--hover-transition);
}

mark {
  background-color: var(--neon-yellow);
  padding-inline: 0.25em;
  border-radius: 0.2em;
}

article > img,
article > a > img {
  max-width: 100%;
  max-height: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}

article > figure.image {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

article > figure.image details summary {
  display: flex;
}

article > figure.image details img {
  max-width: calc(100% - 2px);
  max-height: 1000px;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-grey-border);
  cursor: zoom-in;
}

article > figure.image.caption img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

article > figure.image figcaption {
  font-size: 0.6em;
  font-family: var(--main-font);
  text-align: left;
  padding-block: 1.25em;
  padding-inline: 1.5em;
  color: var(--text-grey);
  background-color: var(--light-grey-bg);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid var(--light-grey-border);
  border-top: none;
}

article > figure.image figcaption a {
  text-underline-offset: 4px;
}

article > figure.image details[open] .img-zoom-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  animation: zoom-in-bg var(--hover-transition) ease-in-out;
}

article > figure.image details[open] img {
  animation: zoom-in var(--hover-transition) ease-in-out;
  cursor: zoom-out;
}

@keyframes zoom-in-bg {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        scale: 0.85;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

article > figure.image details img.zoomed {
  display: none;
}

article > figure.image details[open] img {
  max-width: 90%;
  max-height: 90%;
  margin-inline: auto;
  margin-block: auto;
  border-radius: var(--border-radius-min);
  border-width: 0;
  border-style: none;
  border-color: transparent;
}

article > figure.image details[open] img.zoomed {
  display: block;
}

article > figure.image details[open] img.preview {
  display: none;
}

.article-end-indicator {
  margin: 0;
  width: 75px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

article > ul {
  padding: 0;
}

article > ul > li,
article > ol > li {
  padding-block: 0.1em;
}

article > ul > li {
  margin-left: 1.6em;
  list-style-type: none;
}

article > ul > li::before {
  content: "\F135";
  font-size: 1em;
  margin-inline: 0.4em; /* spacing between the icon and the text */
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,18%);
  color: var(--light-text);
  background: var(--brand-gradient);
  border-radius: 100%;
  padding: 0.1em;
  transition: var(--hover-transition);
}

article > ul > li::before {
  content: "";
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(-1em,0.7em);
  width: 0.3em;
  height: 0.3em;
}

article > ul > li:hover::before {
  transform: translate(0.08em, 18%);
  transform: translate(-0.9em, 0.7em);
  transition: var(--hover-transition);
}

article > ol > li > ol {
  list-style-type: lower-alpha;
}

article li p {
  margin-block: 0;
}

article > blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-left: 0;
  margin-right: 4em;
  padding: 0;
  border-radius: 0.5em;
  /*
  font-size: 0.85em;
  line-height: 1.4em;
   */
}

article blockquote:not(.quote blockquote) {
  display: grid;
  grid-template-columns: 3px auto;
}

article blockquote:not(.quote blockquote)::before {
  grid-column: 1;
  width: 2.5px;
  height: 100%;
  content: "";
  display: block;
  background: var(--brand-gradient-vertical);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-radius: 100px;
}

/*
Big quotes with a fancy initial character and a line at the bottom
 */
article .quote {
  background-color: transparent;
  margin-top: 2.5em; /* account for the big initial character */
  margin-bottom: 1.5em;
  margin-inline: 0;
}

/*
The quote text
 */
article .quote blockquote {
  font-size: 1.3em;
  margin-bottom: 0.75em;
}

/*
article .quote blockquote::before {
  content: "\F6B0";
  font-size: 1.2em;
  display: inline-block;
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,18%);
  color: var(--light-text);
  background: var(--brand-gradient);
  border-radius: 100%;
  padding: 0.1em;
  margin-right: 0.4em;
}*/

article .quote blockquote .quote-initial-character {
  initial-letter: 3;
  float: left;
  height: 3.2em;
  padding-right: 0.5em;
  transform: translate(0,-5%);
}

article .quote blockquote::after {
  margin-top: 0.75em; /* same value as margin-block of blockquote so that the line appears vertically centered */
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background: var(--brand-gradient);
  border-radius: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

article .quote figcaption {
  text-align: center;
  line-height: 1.2;
}

article .quote figcaption cite {
  font-style: normal;
  /*font-size: 0.8em;*/
}

article .quote figcaption cite .author {
  font-family: "MonteCarlo";
  font-size: 1.4em;
}

article blockquote p,
article blockquote ul {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-block: 0;
  font-size: 0.9em;
}

article .quote p {
  padding-bottom: 0.6em;
  padding-bottom: 0;
}

article blockquote ul {
  list-style-type: none;
}

article blockquote ul li {
  margin-block: 0.75em;
  padding-top: 0.75em;
  padding-block: 0;
}

article blockquote ul li:first-child {
  margin-top: 0;
  padding-top: 0;
}

article blockquote ul li:last-child {
  margin-bottom: 0;
}

article blockquote ul li::after {
  display: block;
  content: "";
  width: 100%;
  background-color: var(--light-grey-bg-bg);
  width: 20%;
  height: 0;
  background-color: transparent;
  /*top: calc(-0.75em + 0.5px);*/
  bottom: calc(-0.75em + 1px);
  position: relative;
  border-top-style: dotted;
  border-top-height: 4px;
  border-top-color: var(--light-grey-bg-border);
  border-top-color: var(--light-blue-bg);
  left: 50%;
  transform: translate(-50%, calc(-0.375em + 2px));
}

article blockquote ul li:last-child::after {
  display: none;
}

article blockquote .quote-source {
  font-size: 1em;
  display: block;
  margin-top: 0.4em;
  font-weight: 900;
  width: fit-content;
}

article blockquote .quote-source-text {
  font-style: normal;
  font-family: "JetBrains Mono" !important;
}

article blockquote .quote-source a {
  text-decoration: none;
  color: var(--link-blue);
  margin-left: 0.5em;
  display: inline-block;
  background-color: var(--link-blue-bg);
  height: 20px;
  line-height: 1.1;
  border-radius: 100px;
}

article blockquote .quote-source a i {
  height: 18px;
}

article blockquote .quote-source a i::before {
  padding-inline: 0.4em;
  border-radius: 0.35em;
}

article blockquote .quote-source a:hover {
  background-color: var(--link-blue-bg-hover);
  transition: var(--hover-transition);
}

article code {
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
  font-size: 0.7em;
  vertical-align: middle;
}

.content-margin {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.content-margin-big {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.licence-logo {
  width: 150px !important;
  height: auto;
  cursor: default;
  margin: auto;
  margin-top: 1em;
  margin-block: 2.5em;
  display: block;
}

.blog-preview {
  max-width: min(350px, 100%);
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0;
  border: 1px solid var(--light-grey-border);
  border-radius: 10px;
  background-color: var(--light-grey-bg);
  font-family: var(--main-font);
}

.blog-preview-img {
  grid-row: 1;
  width: 100%;
  height: fit-content;
}

.blog-preview-img img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--light-grey-border);
  margin: 0;
}

.blog-preview-text {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(4,auto);
  row-gap: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 1.2em;
}

.blog-preview-text-meta {
  grid-row: 1;
  width: fit-content;
  text-decoration: none;
  font-size: 0.6rem;
  color: var(--text-grey);
  background-color: var(--light-grey-bg-bg);
  padding-inline: 0.6em;
  padding-block: 0.4em;
  border-radius: 0.2em;
  cursor: default;
}

.blog-preview-text-meta:hover {
  text-decoration: none;
}

.blog-preview-text-headline {
  grid-row: 2;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.2em;
}

.blog-preview-text-description {
  grid-row: 3;
  text-decoration: none;
  color: var(--text-grey);
  font-size: 0.7em;
}

.blog-preview-text-description:hover {
  text-decoration: none;
}

.blog-preview-button {
  grid-row: 4;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 0.2em;
  background: var(--brand-gradient);
  font-size: 0.8em;
  color: white;
  border: none;
  margin: auto;
  margin-top: 0.8em;
  text-decoration: none;
}

.blog-preview-button:hover {
  text-decoration: none;
}

.contact-widget-label-text {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  display: inline-block;
}

.contact-widget-label-link, .contact-widget-label-icon {
  color: var(--medium-blue);
  font-family: var(--main-font);
  text-decoration: none;
}

.contact-widget-label-link {
  vertical-align: 1px;
}

.contact-widget-label-icon {
  font-size: 1.1em;
}

.contact-widget-icon {
  color: var(--light-text);
  background-color: var(--medium-blue-border);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.contact-widget {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto;
}

.contact-widget-label {
  background-color: var(--light-blue-bg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 25px;
  padding-left: 1em;
  padding-right: 1.2em;
}

.css-scale {
  width: 200px;
  height: auto;
}

.css-scale-half {
  transform: scale(0.5);
  transform-origin: left;
}