html {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

* ::selection {
  color: var(--light-text);
  background-color: var(--medium-blue);
}

.body--post-list,
.body--term-list {
  background-color: var(--light-grey-bg);
  background-color: var(--light-yellow-bg);
}

.main--post-list,
.main--term-list {
  padding-inline: 1em;
}

.button {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 0.2em;
  background: var(--brand-gradient);
  font-family: var(--main-font-medium);
  color: var(--light-text);
  text-decoration: none;
  cursor: pointer;
}

.brand-text {
  font-family: var(--main-font-bold) !important;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none !important;
}

.brand-text:hover {
  text-decoration: none !important;
}

.licence-v {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.8em;
  row-gap: 0.8em;
  height: fit-content;
}

.licence-v-button {
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: var(--light-grey-bg);
  border: 1px solid var(--light-grey-bg-border);
  border-radius: 0.2em;
  color: var(--text-grey);
  cursor: pointer;
  text-decoration: none !important;
  font-family: var(--main-font);
  transition: var(--hover-transition);
}

.licence-v-button:hover {
  background-color: var(--light-grey-bg-bg);
  transition: var(--hover-transition);
}

.licence-v-button--pdf {
  background: var(--brand-gradient);
  color: white;
  border: none;
}

.licence-v-button--pdf i {
  vertical-align: -1px; /* missing 1px border */
}

.licence-v-button i {
  font-style: normal;
}

.licence-summary img {
  border-radius: 0.4em;
}

.fancy-link {
  padding-inline: 0.2em;
  padding-block: 0.2em;
  margin-inline: -0.2em;
  border-radius: 0.2em;
  transition: var(--hover-transition);
  text-decoration: none;
}

.fancy-link:hover {
  text-decoration: none;
  background-color: var(--link-blue-bg);
  transition: var(--hover-transition);
}