@font-face {
    font-family: 'Charis';
    src: url('../fonts/CharisSIL-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Charis Bold';
    src: url('../fonts/CharisSIL-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Extra Bold';
    src: url('../fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Black';
    src: url('../fonts/Inter-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Extra Light';
    src: url('../fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Thin';
    src: url('../fonts/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "MonteCarlo";
    src: url("../fonts/MonteCarlo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Saira Stencil One";
    src: url("../fonts/SairaStencilOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono Italic";
    src: url("../fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}