.copyright {
  width: fit-content;
  text-align: center;
  color: var(--text-grey);
  background-color: var(--light-grey-bg);
  padding: 1.5em;
  max-width: calc(90vw - 3em); /* padding * 2 = 3em */
  border-radius: 0.4em;
  margin: auto;
  font-size: 0.8em;
  font-family: var(--main-font-light);
  cursor: default;
  margin-top: 50px;
}

.copyright a {
  color: var(--medium-blue);
  text-decoration: none;
  text-underline-offset: 0.4em;
  padding-inline: 0.2em;
  padding-block: 0.2em;
  margin-inline: -0.2em;
  border-radius: 0.2em;
  transition: var(--hover-transition);
}

.copyright a:hover {
  text-decoration: underline;
  text-decoration: none;
  background-color: var(--link-blue-bg);
  transition: var(--hover-transition);
}

footer {
  margin-top: 4em;
  padding-inline: 2em;
  height: fit-content;
  background-color: var(--light-bg);
  border-top: 1px solid var(--light-grey-border);
  display: block;
}

footer .hero-footer-inner {
  height: fit-content;
  max-width: 800px;
  margin-inline: auto;
  padding-block: 2em;
  padding-inline: 1em;
  content: "";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1.5em;
  align-items: center;
  justify-content: space-evenly;
}

.footer--no-border {
  border-top: none;
}

.footer1 {
  grid-column: 1;
  width: 100%;
  height: fit-content;
  text-align: center;
}

.hero-footer-item--logo img {
  width: 7.5em;
  height: auto;
}

.hero-footer-item--text {
  font-family: var(--main-font);
  color: var(--dark-text);
  line-height: 1.25em;
  font-size: 0.95em;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: default;
}

.hero-footer-item--text a:not(.brand-text) {
  color: var(--medium-blue);
  text-decoration: none;
  text-underline-offset: 6px;

}

.hero-footer-item--text a:not(.brand-text):hover {
  text-decoration: underline;
    text-decoration: none;
  background-color: var(--link-blue-bg);
    transition: var(--hover-transition);
}

.hero-footer-item--source img {
  width: auto;
  height: 2.3em;
}

.secondary-footer {
  width: 100%;
  height: fit-content;
  background-color: var(--dark-blue);
}

.secondary-footer-inner {
  width: fit-content;
  height: fit-content;
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 1em;
  padding-inline: 1em;
  content: "";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  align-items: center;
  justify-content: space-evenly;
}

.secondary-footer-badge {
  display: grid;
  height: 3.5em;
  width: fit-content;
  padding-inline: 1.2em;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  column-gap: 0.6em;
  row-gap: 0.3em;
  text-decoration: none;
  transition: var(--hover-transition);
  border-radius: 0.2em;
}

.secondary-footer-badge:hover {
  background-color: var(--dark-blue-hover);
  transition: var(--hover-transition);
}

.secondary-footer-badge i {
  font-style: normal;
}

.secondary-footer-badge img {
  width: auto;
  align-self: center;
  height: 1.85em;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.secondary-footer-badge--energy {
  column-gap: 0.4em;
}

.secondary-footer-badge--energy img {
  height: 2.3em;
}

.secondary-footer-badge--onion img {
  height: 2.25em;
  position: relative;
  top: -0.15em;
}

.secondary-footer-badge--mastodon img {
  height: 1.6em;
  position: relative;
  top: 0em;
}

.secondary-footer-badge-label {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-family: var(--main-font);
  color: var(--light-blue-text);
  font-size: 0.65em;
  line-height: 0.65em;
  text-decoration: none;
}

.secondary-footer-badge-value {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  font-family: var(--main-font-bold);
  color: var(--light-text);
  font-size: 0.825em;
  line-height: 0.825em;
  text-decoration: none;
}