header::before {
  content: " ";
  display: block;
  border-top: rgb(0,91,187) 5px solid; /* blue strip of UA flag */
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3px;
}

.header-modern::before {
  display: none;
}

header {
  position: sticky;
  top: 5px; /* yellow strip of UA flag */
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: var(--light-bg);
  z-index: 3; /* on top of aside container */
  border-top: rgb(255,213,0) 5px solid;
  border-bottom: 1px solid var(--light-grey-border);
  box-shadow: var(--light-grey-border) 0px 0px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-modern {
  top: 0;
  border-top: none;
  border-bottom: none;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(20px);
}

/*
header height = 60px + 10px UA + 1px border-bottom = 71px
 */

.header-inner {
  width: fit-content;
  height: 100%;
  display: flex;
  column-gap: 0.65em;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  align-items: center;
  align-self: center;
  background: linear-gradient(
      90deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.6) 20%,
      rgba(255, 255, 255, 0.4) 40%,
      rgba(255,255,255,0.4) 85%,
      rgba(255,255,255,0) 100%
  );
}

.header-img {
  height: 34px;
  width: auto;
  cursor: default;
  display: flex;
}

.header-title {
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  font-family: var(--main-font-black);
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-left,
.header-right {
  width: fit-content;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.header-left {
  /*
  header height: 60px
  header button height: ca. 40px
  (header height - header button height) / 2 = ca. 10px
  */
  left: 10px;
}

.header-right {
  right: 10px;
  right: 0px;
}

.header-right--apex {
  right: 10px;
}

.header-button {
  font-size: 0.75em;
  padding-inline: 0.8em;
  padding-block: 0.6em;
}

.header-icon {
  color: var(--anchor-grey);
  font-size: 1.1em;
  padding: 10px;
  transition: var(--hover-transition);
}

.header-icon:hover {
  color: var(--anchor-grey-hover);
}

.header-icon-mastodon img {
  height: 1em;
  line-height: 1.2em;
  vertical-align: middle;
}

.header-link {
  color: var(--text-grey);
  text-decoration: none !important;
  padding-inline: 0.8em;
  padding-block: 0.4em;
  border-radius: 0.2em;
  transition: var(--hover-transition);
  font-size: 0.9em;
}

.header-link:hover {
  background-color: var(--light-grey-bg-hover);
}

.header-flag {
  text-decoration: none;
  margin-right: calc((50px - 1.4em) / 2 - 10px); /* right spacing = block spacing - icon padding */
}

.header-flag img {
  height: 1.4em;
  line-height: inherit;
  vertical-align: middle;
}

.header-nav {
  display: none;
  position: absolute;
  right: 0;
}

.header-nav > summary {
  width: fit-content;
  position: absolute;
  right: 0;
  color: transparent;
}

.header-nav > summary::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f479";
  display: inline-block;
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  display: inline-block;
  color: var(--text-grey);
  font-size: 1.5em;
  cursor: pointer;
  line-height: 50px;
  width: 50px;
  text-align: center;
  transition: var(--hover-transition);
}

.header-nav > summary:hover::before {
  background-color: var(--light-grey-bg-hover);
  background-color: var(--link-blue-bg);
  color: var(--link-blue);
}

.header-nav[open] > summary::before {
  content: "\f62a";
  background-color: var(--link-blue-bg);
  color: var(--link-blue);
}

.header-nav[open] > summary:hover::before {
  background-color: var(--link-blue-bg-hover);
  color: var(--link-blue-hover);
}

@keyframes nav-open {
  /* unfold nav popup from top to bottom, increasing the opacity to 1 */
    0% {
        opacity: 0;
        /*transform: translateY(-100%);*/
    }
    100% {
        opacity: 1;
        /*transform: translateY(0);*/
    }
}

.header-nav[open] .nav {
  animation: nav-open 0.4s ease-out;
}

.nav {
  display: flex;
  position: fixed;
  left: 0;
  top: 71px; /* Ukraine flag = 3px * 2; header = 60px height + 5px top */
  top: 50px;
  background-color: var(--light-grey-bg);
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--light-grey-border);
  width: calc(100vw - 4em);
  width: 100vw;
  height: calc(100vh - 71px);
  height: calc(100vh - 50px);
  z-index: 10;
  text-align: center;
  overflow-y: scroll;
  padding-block: 5vh;
}

.nav-inner {
  width: fit-content;
  height: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline: 1em;
  margin-inline: auto;
}

.nav--visible {
  display: flex;
}

.nav-link:not(.nav-button) {
  color: var(--text-grey);
  color: var(--text-dark);
  text-decoration: none !important;
  padding-block: 1.2em;
  padding-inline: 3em;
  border-bottom: 1px solid var(--light-grey-border);
  transition: var(--hover-transition);
  display: flex;
  column-gap: 1em;
}

.nav-link:last-child {
  border-bottom: none;
}

.nav-link:not(.nav-button):hover {
  background-color: var(--light-grey-bg-bg);
  background-color: var(--light-grey-bg);
}

.nav-icon {
  font-size: 1.3em;
  line-height: 0.7em;
}

.nav-link-text {
  font-style: normal;
}

.nav-button {
  width: fit-content;
  text-align: center;
  display: inline;
  color: var(--light-text);
  align-self: center;
  margin-block: 1em;
}