.hero {
  padding: 40px;
  width: calc(100vw - 80px);
  min-height: calc(100vh - 80px);
  min-height: calc(100svh - 80px);
  height: fit-content;
  position: relative; /* to make z-index work */
  z-index: 4; /* to cover header's box-shadow */
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(2,auto);
  row-gap: 20px;
}

.hero-inner {
  height: 100%;
  min-height: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(2,auto);
  row-gap: 20px;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-title {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  position: relative;
  font-family: var(--hero-font);
  color: var(--light-text);
  font-size: 6em;
  display: grid;
  grid-template-rows: auto auto;
  line-height: 0.9em;
  cursor: default;
  width: fit-content;
  height: fit-content;
}

.hero-title--placeholder {
  visibility: hidden;
  position: relative;
}

.hero-bg,
.hero-title:not(hero-title--placeholder) {
  animation-duration: 15s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

#hero-bg--mass-surveillance {
  animation-name: hero1bg;
  opacity: 1;
  transform: scaleX(-1); /* flip along y-axis so that the white column of cameras is on the right, watching the text on the left */
}

#hero-bg--fake-news {
  animation-name: hero2bg;
  opacity: 0;
}

#hero-bg--climate-change {
  animation-name: hero3bg;
  opacity: 0;
}

@keyframes hero1bg {
  0% { opacity: 0; z-index: 0; }
  3% { opacity: 1; z-index: 1; }

  33% { opacity: 1; z-index: 1; }
  36% { opacity: 0; z-index: 0; }

  100% { opacity: 0; z-index: 0; }
}

@keyframes hero2bg {
  0% { opacity: 0; z-index: 0; }

  33% { opacity: 0; z-index: 0; }
  36% { opacity: 1; z-index: 1; }

  63% { opacity: 1; z-index: 1; }
  66% { opacity: 0; z-index: 0; }
}

@keyframes hero3bg {
  0% { opacity: 1; z-index: 1; }
  3% { opacity: 0; z-index: 0; }

  63% { opacity: 0; z-index: 0; }
  66% { opacity: 1; z-index: 1; }

  100% { opacity: 1; z-index: 1; }
}

#hero-title-text--mass-surveillance {
  animation-name: hero1;
  opacity: 1;
  z-index: 1;
}

#hero-title-text--fake-news {
  animation-name: hero2;
  opacity: 0;
}

#hero-title-text--climate-change {
  animation-name: hero3;
  opacity: 0;
}

@keyframes hero1 {
  0% { opacity: 0; display: none; }
  3% { opacity: 1; display: grid;}

  33% { opacity: 1; display: grid; }
  36% { opacity: 0; display: none; }

  100% { opacity: 0; display: none; }
}

@keyframes hero2 {
  0% { opacity: 0; display: none; }

  33% { opacity: 0; display: grid; }
  36% { opacity: 1; display: grid; }

  63% { opacity: 1; display: grid; }
  66% { opacity: 0; display: none; }
}

@keyframes hero3 {
  0% { opacity: 1; display: grid; }
  3% { opacity: 0; display: none; }

  63% { opacity: 0; display: none; }
  66% { opacity: 1; display: grid; }

  100% { opacity: 1; display: grid; }
}

.hero-description {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  max-width: 500px;
  align-self: start;
}

.hero-description-text {
    font-family: var(--main-font);
    color: var(--light-text);
    color: var(--medium-blue-tint);
    font-size: 1.25em;
    cursor: default;
}

.hero-description-text strong {
  font-family: var(--main-font-medium);
}

.hero-description-text b {
  font-family: var(--main-font-bold);
  display: block;
  margin-top: 0.75em;
  font-size: 1.35em;
}

.hero-bottom {
  grid-row: 3;
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  width: calc(100% - 40px);
  height: fit-content;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: end;
}

.hero-fogeye {
  grid-column: 1;
  z-index: 1;
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 75px auto;
  column-gap: 15px;
  align-self: end;
  background-color: rgba(151, 169, 189, 0.25);
  padding: 25px;
  padding-right: 40px;
  border-radius: 0.5em;
  backdrop-filter: blur(10px);
}

.hero-fogeye-img {
  width: 75px;
  height: auto;
  grid-column: 1;
}

.hero-fogeye-text {
  height: 75px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: repeat(3,auto);
  cursor: default;
}

.hero-fogeye-text-top,
.hero-fogeye-text-middle,
.hero-fogeye-text-bottom {
  vertical-align: middle;
  line-height: 1em;
}

.hero-fogeye-text-top,
.hero-fogeye-text-bottom {
  color: var(--light-text);
  font-family: var(--main-font);
  font-size: 1.4em;
}

.hero-fogeye-text-middle {
  transform: translate(0,2px);
  width: max-content;
  word-wrap: nowrap;
  height: 1.15em;
  font-size: 1.6em;
  font-family: var(--main-font-black);
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-cta {
  grid-column: 2;
  grid-row: 3;
  z-index: 2;
  align-items: end;
  align-content: center; /* doesn't work :( */
  width: fit-content;
}

.hero-cta-button {
  display: block;
  background: var(--brand-gradient);
  color: var(--light-text);
  text-decoration: none;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 0.2em;
  font-size: 1.25em;
  cursor: pointer;
  transition: var(--hover-transition);
}

.hero-cta-button:hover {
  transform: scale(1.025);
  transition: var(--hover-transition);
}

.scroll-indicator {
  z-index: 1;
  display: inline-block;
  width: fit-content;
  color: var(--light-text);
  font-size: 2em;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}