.post-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
  margin-inline: auto;
  margin-top: 2em;
  padding-top: 2em;
  width: calc(100vw - 4em);
  max-width: 1200px;
}

.post-summary-div {
  display: flex;
  width: fit-content;
  max-width: 400px;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.6em;
  background-color: var(--light-bg);
  box-shadow: var(--light-yellow-shadow);
  border-radius: 0.4em;
}

.post-summary-wrapper .post-summary-div {

}

.post-summary-div-alt {
  border: 1px solid var(--light-grey-bg-border);
  box-shadow: none;
}

/*
.post-summary-div:first-child {
  margin-top: 2em;
}

.post-summary-div:last-child {
  margin-bottom: 1em;
}
*/

.post-summary-author-img {
  width: 40px;
  height: auto;
  padding: 10px;
  margin-top: calc(-2em - 30px);
  margin-inline: auto;
  background-color: var(--light-grey-bg);
  background-color: var(--light-yellow-bg);
  border-radius: 50%;
  transform: rotate(135deg);
}

.post-summary-author-img-alt {
  margin-top: calc(-2em - 32px);
  border: 1px solid var(--light-grey-bg-border);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.post-summary-img img,
.top-post-summary-img img {
  width: calc(100% - 2px);
  width: 100%;
  height: auto;
  border: 1px solid var(--light-grey-border);
  border: none;
  border-radius: 0.4em;
}

.top-post-summary-img {

}

.post-summary-img {
  padding-top: 1em;
  padding-inline: 1em;
}

.post-summary-text {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.5em;
  padding: 2em;
  padding-top: 0;
}

.post-summary-description {
  margin-bottom: 0.5em;
}

.post-summary-description,
.post-summary-meta,
.top-post-summary-description {
  display: block;
  width: fit-content;
}

.post-summary-description,
.post-summary-description:hover,
.post-summary-meta,
.post-summary-meta:hover,
.post-summary-meta-author:hover,
.top-post-summary-description,
.top-post-summary-description:hover {
  font-family: var(--main-font);
  text-decoration: none;
}

.post-summary-title,
.top-post-summary-title {
  display: block;
  width: 100%;
  font-size: 1.4em;
  line-height: 1.2;
  text-align: left;
}

.post-summary-description {
  font-size: 1em;
  line-height: 1.6;
  color: var(--dark-text);
}

/*
.post-summary-meta {
  font-size: 0.85em;
  color: var(--text-grey);
  background-color: var(--light-grey-bg);
  padding-inline: 0.8em;
  padding-block: 0.4em;
  border-radius: 0.2em;
  display: block;
  align-self: center;
}

.post-summary-meta-author {
  color: var(--link-blue);
}
*/

.post-summary-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.25em;
  column-gap: 2.4em;
  width: fit-content;
  max-width: 100%;
  font-size: 0.85em;
}

.article-meta .post-summary-meta {
  justify-content: center;
  row-gap: 2em;
}

.post-summary-meta-container,
.article-meta-container {
  display: grid;
  grid-template-columns: 16px auto;
  grid-template-rows: auto auto;
  row-gap: .5em;
  column-gap: 0.4em;
}

.post-summary-meta-icon,
.article-meta-icon {
  grid-column: 1;
  grid-row: 2;
  vertical-align: middle;
  font-size: 1.15em;
  color: var(--text-grey);
  line-height: 0.4em;
  align-self: center;
  transform: translateY(-0.075em);
  display: inline-block;
}

.article-meta .post-summary-meta-icon,
.article-meta-icon {
  font-size: 1.4em;
}

.post-summary-meta-label,
.article-meta-label {
  grid-column: 1/span 2;
  grid-row: 1;
  font-size: 0.75em;
  color: var(--text-grey);
  text-transform: uppercase;
  font-family: var(--main-font-light);
  line-height: 0.8;
  height: 0.8em;
  align-self: end;
  justify-self: start;
}

.article-meta .post-summary-meta-label,
.article-meta-label {
  font-size: 0.9em;
}

.post-summary-meta-value,
.article-meta-value {
  grid-column: 2;
  grid-row: 2;
  text-decoration: none;
  line-height: 1;
  height: 1em;
  align-self: center;
  justify-self: start;
  color: black;
  font-weight: bolder;
  font-family: var(--main-font-bold);
  font-size: 0.9em;
}

.article-meta .post-summary-meta-value,
.article-meta-value {
  font-size: 1.2em;
}

.article-meta-value--author {
  display: flex;
  flex-direction: row;
  column-gap: 0.4em;
  justify-content: start;
}

.article-meta-value--author i {
  font-style: normal;
}

.article-meta-value--author .bi-patch-check-fill {
  color: var(--check-mark);
  font-size: 1.2em;
  position: relative;
  top: -0.1em;
}

.post-summary-subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.6em;
  row-gap: 0.4em;
}

.post-summary-tags,
.post-summary-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.6em;
  column-gap: 0.6em;
  width: fit-content;
  max-width: 100%;
}

.post-summary-tag,
.post-summary-category {
  font-size: 0.675em;
  padding-inline: 0.8em;
  padding-block: 0.5em;
  border-radius: 0.2em;
}

.post-summary-tag {
  background-color: var(--link-blue-bg);
  color: var(--link-blue);
  transition: var(--hover-transition);
  text-decoration: none;
}

.post-summary-text .post-summary-tag,
.post-summary-text .post-summary-category {
  font-size: 0.65em;
}

.post-summary-tag:hover {
  background-color: var(--link-blue-bg-hover);
  color: var(--link-blue-hover);
  transition: var(--hover-transition);
}

.top-post {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: auto;
  column-gap: 2em;
  width: fit-content;
  max-width: calc(100vw - 4em);
  max-width: 100%;
  position: relative;
  margin-inline: auto;
  margin-top: 5em;
}

.top-post-text {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  max-width: 500px;
  align-self: center;
}

.top-post-summary-img {
  grid-column: 2;
  grid-row: 1;
  min-width: 250px;
}

.top-post:nth-child(2) {
  display: none;
}

.top-post:nth-child(2) .top-post-summary-img {
  grid-column: 1;
}

.top-post:nth-child(2) .top-post-text {
  grid-column: 2;
}

.top-post-summary-img img {
  height: auto;
  max-width: 500px;
  max-height: 350px;
  box-shadow: var(--light-yellow-shadow);
}

.top-post-summary-title {
  text-align: left;
  font-size: 1.75em;
}

.top-post-summary-description {
  text-align: left;
  font-size: 1.05em;
  line-height: 1.5em;
  color: var(--dark-text);
}

.post-list-hero {
  display: grid;
  grid-template-columns: 5.9fr 4.1fr;
  column-gap: 1em;
  background-color: var(--light-bg);
  box-shadow: var(--light-yellow-shadow);
  max-width: 1200px;
  padding: 1.5em;
  padding-right: 2.5em;
  width: calc(100vw - 4em - 4em);
  margin-inline: auto;
  margin-top: 4em;
  margin-bottom: 0;
  border-radius: 1em;
}

.post-list-hero-primary,
.post-list-hero-secondary {

}

.post-list-hero .post-summary-div,
.post-list-hero img {
  box-shadow: none;
}

.post-list-hero-secondary img {
  display: none;
}

.post-list-hero-primary .post-summary-div {
  width: fit-content;
  max-width: 100%;
  row-gap: 1.2em;
}

.post-list-hero-primary .post-summary-title {
  font-size: 2.5em;
}

.post-list-hero-secondary {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  padding-right: 2.5em;
}

.post-list-hero-secondary .post-summary-div {
  width: fit-content;
  max-width: 100%;
  padding: 0;
}

.post-list-hero-secondary .post-summary-text {
  row-gap: 0.8em;
}

.post-list-hero-secondary .post-summary-title {
  font-size: 1.4em;
}

.term-list,
.term-list-min {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  margin-block: 6em;
  column-gap: 2em;
  row-gap: 2em;
}

.term-list-min {
  margin-block: 4em;
}

.term-list .term,
.term-list-min .term {
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 3em;
  border-radius: var(--border-radius-min);;
  row-gap: 0.5em;
  align-content: center;
  justify-content: center;
  color: var(--dark-text);
  background-color: var(--light-blue-bg);
}

.term-title {
  width: fit-content;
  font-size: 3.5em;
  line-height: 1;
  font-family: var(--decorative-font) !important;
  font-weight: bolder;
  color: var(--dark-blue-text-light-tint);
  text-decoration: none;
}

.term-list-min .term {
  display: block;
  padding: 1em;
}

.term-list-min .term-title {
  font-size: 1.75em;
  line-height: 1;
  color: var(--dark-blue-text-light-tint);
  text-decoration: none;
  transition: var(--hover-transition);
}

.term-list-min .term-title:hover {
  transition: var(--hover-transition);
  background-color: var(--light-blue-bg-bg-hover);
}

.term-summary {
  color: var(--darker-blue-text-light-tint);
  margin-top: -0.5em;
  font-size: 1.2em;
  line-height: 1.4;
  font-family: var(--main-font);
}

.term-button {
  color: var(--dark-text);
  display: inline-block;
  width: fit-content;
  font-size: 1.2em;
  font-weight: bold;
  padding-inline: 1.5em;
  padding-block: 0.85em;
  border-radius: var(--border-radius-min);;
  background-color: var(--light-blue-bg-bg);
  text-decoration: none;
  transition: var(--hover-transition);
}

.term-button:hover {
  transition: var(--hover-transition);
  background-color: var(--light-blue-bg-bg-hover);
}