.socialmedia-profile-widget {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
  margin: 0;
  max-width: 100%;
}

.socialmedia-profile-label {
  height: min-content;
  display: inline-block;
  width: fit-content;
  line-height: 1em;
  margin-bottom: 0.2em;
}

.socialmedia-profile-label-text {
  color: var(--text-grey-light);
  font-family: var(--main-font-black);
  text-decoration: none !important;
  text-underline-offset: 0;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
  transition: var(--hover-transition);
}

.socialmedia-profile-label-text:hover {
  color: var(--anchor-grey);
}

.socialmedia-profile-outer {
  display: grid;
  /*! grid-template-columns: calc(100% - 130px) 130px; */
  width: min-content;
  height: min-content;
  max-width: 100% !important;
}

.socialmedia-profile {
  width: min-content;
  display: flex;
  border-radius: 10px;
  background-color: var(--light-grey-bg-bg);
  cursor: pointer;
  transition: var(--hover-transition);
  height: min-content;
  max-width: 100% !important;
}

.socialmedia-profile:hover {
  background-color: var(--light-grey-bg-bg-hover);
}

.socialmedia-profile-inner {
  display: flex;
  padding: 10px;
  transition: var(--hover-transition);
  max-width: 100%;
  text-decoration: none;
  height: min-content;
  align-items: center;
}

.social-media-profile-img {
  max-width: revert;
  max-height: revert;
  height: 40px;
  width: auto;
  margin-right: 0.4em;
}

.social-media-profile-img-link {
  display: inline-block;
  height: 0px;
}

.social-media-profile-img-link, .social-media-profile-link {
  color: var(--text-dark);
  font-style: normal;
  text-decoration: none;
}

.social-media-img {
  max-width: revert;
  max-height: revert;
  height: 40px;
  width: auto;
  margin: 0;
  display: inline;
}

.social-media-profile-text {
  display: flex;
  max-width: calc(100%);
  width: min-content;
  height: min-content;
}

.social-media-profile-text-inner {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: min-content;
  height: min-content;
  max-width: 100%;
}

.social-media-profile-link {
  text-overflow: ellipsis;
  display: inherit;
  white-space: nowrap;
  font-family: var(--main-font);
  text-overflow: ellipsis;
  overflow: hidden;
}

.social-media-profile-name {
  font-size: 1em;
  font-family: var(--main-font-bold);
  font-weight: normal;
  letter-spacing: -0.5px;
  vertical-align: middle;
  line-height: 1em;
}

.social-media-profile-name i {
  color: var(--mastodon-main-bg);
}

.social-media-profile-text-span {
  max-width: 16ch;
  line-height: 1em;
  display: inline;
}

.social-media-profile-text-span-top {
  line-height: 1em;
}

.social-media-profile-text-span-bottom {
  line-height: 0.9em;
}

.social-media-profile-label {
  background-color: var(--mastodon-main-bg);
  color: var(--light-text);
  font-family: var(--main-font-light);
  font-style: normal;
  text-decoration: none;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.2em;
  display: block;
  width: fit-content;
  font-size: 0.8em;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  transition: var(--hover-transition);
}

.social-media-profile-label:hover {
  background-color: var(--mastodon-label-bg-hover);
}

.social-media-profile-at {
  font-size: 0.7em;
  color: var(--text-grey);
}

.mastodon-follow-button-outer {
  height: 0px;
  position: relative;
  top: 50%;
  display: grid;
  display: none;
  line-height: 1;
  margin-left: 30px;
}

.socialmedia-follow-button {
  cursor: default;
  vertical-align: baseline;
  position: relative;
  padding-right: 10px;
  padding-left: 20px;
}

.socialmedia-follow-button-inner {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: normal;
  letter-spacing: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  transition: all .1s ease-in;
  font-size: 14px;
  background: var(--mastodon-main-bg);
  color: #fff;
  text-transform: none;
  height: auto;
  white-space: nowrap;
  overflow-wrap: break-word;
  hyphens: auto;
  border: 0;
  line-height: 30px;
  padding: 3px 10px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.socialmedia-follow-button-inner:hover {
	background: var(--mastodon-main-bg-hover);
  background: var(--mastodon-label-bg-hover);
	transition: all .2s ease-out;
}

.matrix-follow-button-inner {
  background: var(--elementio-main-bg);
}

.matrix-follow-button-inner:hover {
  background: var(--elementio-main-bg-hover);
}

.keyoxide-follow-button-inner {
  background: var(--keyoxide-main-bg);
}

.keyoxide-follow-button-inner:hover {
  background: var(--keyoxide-main-bg-hover);
}

.socialmedia-follow-button-inner bi {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 0.2em;
}

.socialmedia-follow-button-text {
  font-style: normal;
}

.mastodon-follow-button-inner svg {
  width: 15px;
  height: auto;
  vertical-align: middle;
  margin-right: 0.2em;
  fill: #fff;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-transform: none;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
}

.mastodon-follow-button-inner .bi.bi-mastodon {
  vertical-align: -1px;
}
