@media (max-width: 1200px) {
  .article-container {
    grid-template-columns: auto min-content;
    grid-column-gap: 0.4em;
    padding-left: 1em;
  }
}

@media (max-width: 1000px) {
  .hero-bottom {
    width: 100%;
  }

  .top-post:nth-child(2) {
    display: grid;
  }

  .top-post-summary-title {
    font-size: 1.6em;
  }

  .post-list-hero {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    background-color: transparent;
    box-shadow: none;
  }

  .post-list-hero-primary {
    grid-row: 1;
    display: none;
  }

  .post-list-hero-secondary {
    grid-row: 2;
    padding-right: 0;
  }

  .post-list-hero-secondary {
    flex-direction: row;
  }
}

@media (max-width: 920px){
  article blockquote {
    margin-left: 0;
    margin-right: 0;
  }

  .article-container {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    padding-left: 0;
  }

  aside {
    grid-column: 1;
    z-index: 2;
    top: 71px; /* header height */
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
  }

  .toc {
    background-color: rgba(255,255,255,0.875);
    backdrop-filter: blur(20px);
  }

  .toc summary span {
    display: none;
  }

  .toc-default-closed {
    display: block;
  }

  .toc-default-open {
      display: none;
  }

  .toc {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.25em; /* make it appear aligned with the peace dove's wing at the bottom of the article */
    position: sticky;
    align-self: end;
    justify-self: end;
    bottom: 0.5em;
    right: 0.5em;
    overflow-y: hidden;
    z-index: 2;
    grid-column: 1;
    grid-row: 2;
  }

  .toc[open] {
    bottom: 0;
    border-bottom-width: 0;
  }

  .toc summary {
    border-radius: 0.5em;
    color: transparent;
    background-color: var(--link-blue-bg);
  }

  .toc summary:hover {
    color: transparent;
  }

  .toc summary::before {
    color: var(--link-blue);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    content: "\e447";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transition: var(--hover-transition);
  }

  .toc[open] summary::before {
    display: none;
  }

  .toc summary:hover::before {
    color: var(--link-blue-hover);
    transition: var(--hover-transition);
  }

  .toc[open] summary {
    background-color: rgba(255,255,255,0.01);
    color: var(--link-blue);
    backdrop-filter: blur(10px);
    border-bottom: none;
    border-top: 1px dotted var(--light-grey-bg-bg);
    font-size: 20px;
    border-radius: 0;
  }

  .toc[open] summary:hover {
    color: var(--link-blue-hover);
  }

  .toc[open] summary span {
    display: inline-block;
  }

  /* Moves the table of contents from below the bottom viewport edge to the final position,
   * fades it in.
   */
  @keyframes toc-open-mobile {
      0% {
          transform: translateY(100%);
          opacity: 0;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }

  .toc[open] nav {
    animation: none;
  }

  .toc[open] {
    height: calc(100vh - 71px); /* header height */
    max-height: 65vh; /* we must show the user that something happens -> scrolling to the headline (little view window) */
    height: fit-content;
    width: 100vw;
    margin: 0;
    border-radius: 0;
    overflow-y: scroll;
    animation: toc-open-mobile 0.35s ease-out;
  }

  .toc nav::after {
    height: 35px;
  }

  .toc nav ul {
    font-size: 14px;
    padding-inline: 1em;
  }

  .toc nav ul li {
    grid-column-gap: 1em;
  }

  .toc nav ul li a {
    padding-block: 1.2em;
    color: var(--text-dark);
  }

  .toc nav ul li::before {
    padding-top: 0.96em;
    font-size: 1.2em;
  }
}

@media (max-width: 850px){
  .hero {
    grid-template-rows: repeat(4,auto);
    grid-template-columns: 100%;
  }

  .hero-bottom {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,auto);
  }

  .hero-fogeye {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
    align-self: start;
  }

  .hero-cta {
    grid-row: 2;
    grid-column: 1;
    align-content: center;
    align-self: start;
  }

  .scroll-indicator {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
  }

  .top-post {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,auto);
    row-gap: 1em;
    max-width: 600px;
  }

  .top-post-text,
  .top-post:nth-child(2) .top-post-text {
    grid-row: 2;
    grid-column: 1;
    max-width: 100%;
  }

  .top-post-summary-img {
    grid-row: 1;
    grid-column: 1;
  }

  .top-post-summary-img img {
    max-width: 100%;
  }

  .blog-hero-inner {
    padding-top: 2.5em;
  }

  .blog-hero-min .blog-hero-inner {
    padding-top: 1.25em;
  }

  .blog-hero-top {
    flex-direction: column;
    row-gap: 1.5em;
    text-align: center;
    padding-inline: 2em;
  }

  .blog-hero-logo-outer {
    align-self: center;
  }

  .blog-hero-min .blog-hero-logo-outer {
    display: none;
  }

  .blog-hero-logo {
    height: 100px;
  }

  .blog-hero-title {
    row-gap: 0.25em;
  }

  .blog-hero-min .blog-hero-title {
    row-gap: 0.25em;
  }

  .blog-hero-title-text--secondary {
    font-size: 1.25em;
  }

  .blog-hero-title-text--primary {
    font-size: 2.75em;
  }

  .blog-hero-min .blog-hero-title-text--secondary {
    font-size: 1em;
  }

  .blog-hero-min .blog-hero-title-text--primary {
    font-size: 2em;
  }

  .blog-hero nav {
    padding-top: 0.75em;
    padding-bottom: 1.25em;
  }

  .blog-hero nav a {
    font-size: 0.725em;
  }

  .blog-hero-min nav {
    padding-top: 0.5em;
  }

  .post-list-hero {
    column-gap: 0.5em;
    padding: 0.2em;
    width: calc(100vw - 2em);
    max-width: 600px;
    margin-top: 4em;
  }

  .post-list-hero-secondary {
    flex-direction: column;
  }

  .post-list {
    margin-top: 0.5em;
    row-gap: 1em;
    column-gap: 1em;
  }

  .post-summary-meta {
    column-gap: 1.4em;
  }

  footer {
    grid-template-columns: calc(100vw - 80px);
    grid-template-rows: repeat(4, auto);
    row-gap: 40px;
  }

  .e404-inner {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .e404-title-div {
    grid-row: 1;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    margin-block: 50px;
    column-gap: 50px;
  }

  .e404-img {
    align-self: center;
    grid-row: 1;
    grid-column: 1;
  }

  .e404-img img {
    width: 150px;
  }

  .e404-title {
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 4em;
  }

  .e404-description-div {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 750px){
  .button {
    padding-inline: 1.6em;
    padding-block: 1em;
    font-size: 1.2em;
  }

  .post-summary-category,
  .post-summary-tag {
    padding-inline: 1em;
    padding-block: 0.5em;
    font-size: 0.8em;
  }

  .header-left,
  .header-link,
  .header-right {
    display: none;
  }

  header {
    padding-left: calc((50px - 34px) / 2); /* left spacing = block spacing = header height - logo height */
    width: calc(100vw - (50px - 34px) / 2);
  }

  .header-inner {
    position: relative;
    left: 0;
    transform: translate(0,0);
  }

  .header-nav {
    display: flex;
  }

  .post-list {
    grid-template-columns: 100%;
    width: fit-content;
  }

  .headline::before {
    display: none;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  footer .hero-footer-inner {
    flex-direction: column;
  }

  .hero-footer-item--text {
    text-align: center;
  }
}

@media (max-width: 600px){
  .article-img,
  article > figure.image {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: calc(-1 * ((100vw - 85vw) / 2)); /* half of the container width */
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  article > figure.image details img {
    border-left: none;
    border-right: none;
    max-width: 100vw;
  }

  article > figure.image details[open] img {
    max-width: 100vw;
    max-height: unset;
    border-radius: 0;
  }

  article > figure.image figcaption {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .hero-title {
    font-size: 4em;
  }

  .hero-description-text {
    font-size: 1em;
  }

  .hero-fogeye {
    transform: scale(0.8);
    transform-origin: left;
  }

  .hero-cta-button {
    font-size: 1.2em;
  }

  .headline-section {
    padding-inline: 0.75em;
  }

  .term-list {
    margin-block: 2em;
  }

  .term-list .term {
    padding: 2em;
  }

  .blog-hero .blog-hero-inner {
    padding-top: 1.5em;
  }

  .blog-hero-logo {
    height: 85px;
  }

  .blog-hero .blog-hero-title-text--secondary {
    font-size: 1em;
  }

  .blog-hero .blog-hero-title-text--primary {
    font-size: 2em;
  }

  .blog-hero nav a {
    font-size: 0.675em;
  }
}

@media (max-width: 460px){
  .hero {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  .hero-title {
    top: 20px; /* cf. hero padding */
  }

  .headline::before {
    display: none;
  }

  .post-summary-text {
    padding: 1.4em;
    padding-top: 0;
  }

  .e404-inner {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .e404-title-div {
    margin-block: 50px;
    column-gap: 50px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .e404-img {
    grid-row: 1;
  }

  .e404-title {
    grid-column: 1;
    grid-row: 2;
    font-size: 5em;
  }

  .e404-description-top {
    font-size: 3em;
  }

  article {
    max-width: 90vw;
    font-size: 1.05em;
  }

  article > figure.image {
    left: calc(-1 * ((100vw - 90vw) / 2)); /* half of the container width */
  }

  article h1 {
    font-size: 1.5em;
    line-height: 1.3;
  }

  article h2 {
    font-size: 1.3; /* What happened here? */
    line-height: 1.1;
  }

  article code {
    font-size: revert;
  }

  article blockquote p {
    padding-inline: 0.8em;
    padding-block: 0.5em;
  }
}

@media (max-width: 450px){
  .hero-bottom {
    row-gap: 10px;
  }

  .hero-fogeye {
    transform: scale(0.6);
  }

  .scroll-indicator {
    font-size: 1.5em;
  }

  .hero-cta-button {
    font-size: 1em;
  }

  .secondary-footer-inner {
    flex-direction: column;
    align-items: start;
  }

  .secondary-footer-badge {
    grid-template-columns: 1.85em auto;
    column-gap: 0.5em;
  }

  .secondary-footer-badge img {
    justify-self: center;
  }
}

/*
@media (max-width: 420px){
  .header-inner {
    left: 50%;
    transform: translate(-50%,0);
  }
}
*/

@media (max-width: 370px){
  .social-media-profile-text-span {
    max-width: 13ch;
  }

  .hero-fogeye {
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    row-gap: 20px;
  }

  .hero-fogeye-img {
    grid-row: 1;
  }

  .hero-fogeye-text {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 330px){
  .hero-title {
    font-size: 3em;
  }
}

@media (max-width: 275px){
  .header-title {
    display: none;
  }
}

@media (orientation: portrait){
  .hero-inner {
    height: fit-content;
    row-gap: 40px;
  }

  .hero-title--placeholder {
    /*height: fit-content;*/
  }

  .hero-fogeye {
    /*height: fit-content;*/
    align-content: start;
    /*align-content: center;*/
  }

  .hero-cta {
    height: fit-content;
    align-content: start;
    /*align-content: end;*/
  }
}

@media (max-width: 350px) {
  footer .hero-footer-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
