:root {
  --main-font: 'Inter';
  --main-font-light: 'Inter Light';
  --main-font-medium: 'Inter Medium';
  --main-font-bold: 'Inter Bold';
  --main-font-black: 'Inter Black';

  --hero-font: 'Saira Stencil One';
  --decorative-font: 'Cinzel';

  --article-font: 'Charis';
  --article-font-bold: 'Charis Bold';

  --brand-gradient: linear-gradient(90deg, rgba(254,122,58,1) 0%, rgba(218,60,152,1) 100%);
  --brand-gradient-vertical: linear-gradient(180deg, rgba(254,122,58,1) 0%, rgba(218,60,152,1) 100%);
  --brand-gradient-45: linear-gradient(135deg, rgba(254,122,58,1) 0%, rgba(218,60,152,1) 100%);

  --light-text: white;
  --light-bg: white;

  --light-grey-border: #eeebeb;
  --light-grey-bg-border: #e6e6e6;
  --light-grey-shadow: var(--light-grey-border) 0 5px 5px;

  --anchor-grey: #acacac;
  --anchor-grey-hover: #9d9d9d;

  --chevron-grey: #cacaca;
  --chevron-grey-hover: #bababa;

  --dark-bg: #333;
  --dark-text: #333;

  --text-dark: #333;
  --text-grey: #606060;
  --text-grey-light: #cacaca;
  --text-grey-light-2: #dfdfdf;

  --light-grey-bg: #f4f4f4;
  --light-grey-bg-hover: #ececec;

  --light-grey-bg-bg: #e6e6e6;
  --light-grey-bg-bg-hover: #dbdbdb;
  --light-grey-bg-bg-hover-none: #dbdbdb00;
  --light-grey-bg-border: var(--light-grey-bg-bg-hover);

  --light-yellow-bg: #faf2eb;
  --light-yellow-shadow: #fae6d4 0 5px 5px;
  --medium-yellow-shadow: #ede2d8 0 5px 10px;

  --dark-blue: #00152f;
  --dark-blue-hover: #1c2e45;

  --darker-blue: #010d18;

  --medium-blue: #005bbb;
  --medium-blue-tint: #cad6e6;

  --link-blue: var(--medium-blue);
  --link-blue-hover: #003e80;

  /*--link-blue-bg: rgba(0, 114, 245, 0.08);
  --link-blue-bg-hover: rgba(0, 114, 245, 0.16);*/
  --link-blue-bg: #e4ecf7;
  --link-blue-bg-hover: #dde5f0;

  --link-blue-anchor: rgba(0, 91, 187, 0.20);
  --link-blue-underline: rgba(0, 91, 187, 0.16);
  --link-blue-underline-hover: rgba(0, 91, 187, 0.45);

  --light-blue-bg: #a4d2d9;
  --light-blue-bg-bg: #e6f4f6;
  --light-blue-bg-bg-hover: #d9f0f3;

  --dark-blue-text-light-tint: #125059;
  --darker-blue-text-light-tint: #082d33;

  --light-blue-text: var(--light-blue-bg);
  --medium-blue-border: #489bb5;

  --hover-transition: 0.3s;

  --neon-yellow: #f4ff00;

  --border-radius-min: 2px;

  --check-mark: #2b90d9;
  --mastodon-main-bg: #2b90d9;
	--mastodon-main-bg-hover: #56a7e1;
	--mastodon-label-bg-hover: #267cbb;
	--elementio-main-bg: #0dbd8b;
	--elementio-main-bg-hover: #099970;
	--keyoxide-main-bg: #7868ca;
	--keyoxide-main-bg-hover: #6a5bb9;
  --tor-purple: #7D4698;
  --tor-dark-purple: #59316B;
  --tor-green: #68B030;
  --tor-grey: #F8F9FA;
  --tor-dark-grey: #333A41;
}